
section#artist-detail {}
section#artist-detail.on {}

.artist-title {position: absolute; top: 52px; left: 2.5%; font-size: 18px; color: #FF3901; display: inline-block;}
.artist-title::before {content: ""; background-image: url(../img/icon_arrow-orange.svg); background-size: 20px 16px; background-position: left center; background-repeat: no-repeat; padding-left: 30px; transition: all 0.3s;}



/* div.layer-mask */
.layer-mask {position: fixed; top: 100%; left: 0; width: 100%; height: 100%; background-size: 65vw; background-repeat: no-repeat; background-position: center bottom; background-color: #fff; transition: all .8s cubic-bezier(0.65, 0, 0.35, 1);}
.layer-mask.on {top: 0;}
.layer-mask > div {position: absolute; left: 50%; transform: translateX(-50%); bottom: 23%; text-align: center;}
.layer-mask > div h1 {font-family: 'NS'; font-size: 46px; font-weight: 500; margin-bottom: 3px; color: #FF3901;}

@media only screen and (max-width: 1024px) {
  .layer-mask > div h1 {font-size: 32px;}
}

/* div.layer-popup */
.layer-popup {position: absolute; top:130px; left: 0; width: 100vw; z-index: 80000; display: none;
}
.layer-popup.on {display: block; opacity: 1;}

/* div.layer-popup > a.close */
.layer-popup a.close {position: fixed; top: 50vh; right: 2.5%; transform: translateY(-50%); opacity: 0; z-index: 9999;}
.layer-popup a.close img {width: 24px; height: 24px;}
.layer-popup a#close-2.on {opacity: 1;}

/* div.layer-popup > section.artist-intro */
.artist-content {width: 100%; position: relative;}

/* .artist-intro */
.artist-intro {background-color: #FF3901; color: #fff; margin-top: calc(99vh - 130px); padding: 50px 0 80px 0;}
.artist-intro .artist-info h2 {font-size: 44px;}
.artist-intro .artist-info span {font-size: 18px; font-weight: 400;}
.artist-intro .artist-info span:not(:last-of-type):after {content: "|"; font-size: 15px; color: #fff; margin: 0 10px; position: relative; top: -3px;}
.artist-intro .artist-sns {position: absolute; top: 0; right: 0; font-size: 18px; margin-top: 12px;}
.artist-intro .artist-sub {font-family: 'NS'; font-size: 18px; font-weight: 500; line-height: 1.81; columns: 2; column-gap: 40px; white-space: pre-line; word-break: keep-all; padding: 75px 0 18px 0;}

/* .artist-photo */
.artist-photo {display: flex; background-color: #fff;}
.artist-photo > img {width: 50%;}

/* .artist-biography */
.artist-biography {padding: 50px 0 25px 0; background-color: #F2F2F2; color: #FF3901;}

@media screen and (min-width: 769.1px) { 
  .artist-biography .divide-two {display: flex;}
.artist-biography .divide-two > div {width: 50% ; padding-bottom: 70px;}
.artist-biography .divide-two > div + div {margin-left: 17px;}
}

.artist-biography h2 {font-size: 42px; font-weight: 400; margin: 0 0 90px;}
.artist-biography h3 {font-size: 22px; border-bottom: 1px solid #FF3900; margin-bottom: 20px; padding-bottom: 15px;}
.artist-biography p {font-family: 'NS'; font-size: 19px; line-height: 1.3;}
.artist-biography p + p {margin-top: 12px;}
.artist-biography .date {max-width: 70px; font-size: 20px;}

/* .artist-video */
.artist-video {position:relative; background-color: #fff;}
.artist-video > video {width: 100%; height: 100%;}
.artist-video .playpause {width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: 90px; background-position: center; background-repeat:no-repeat; background-color: rgba(0, 0, 0, 0.3);}

@media screen and (max-width: 769.0px) { 
  .layer-mask {background-size: cover;}
  .layer-mask > div h1 {font-size: 22px;}
  .artist-intro {padding: 50px 0;}
  .artist-intro .artist-info h2 {font-size: 28px; margin-bottom: 5px;}
  .artist-intro .artist-info span {font-size: 15px;}
  .artist-intro .artist-sns {font-size: 15px;}
  .artist-intro .artist-sub {font-size: 15px; columns: 1; padding-top: 57px;}
  .artist-biography .divide-two > div + div {margin-top: 40px;}
  .artist-biography h2 {font-size: 28px;}
  .artist-biography h3 {font-size: 18px;}
  .artist-biography p {font-size: 14px;}
  .artist-biography .date {min-width: 80px; font-size: 14px;}
}
