@media screen and (min-width: 769.1px) { 
  ul#gnbb {position: fixed; left: 2.5%; bottom: 2.5%; z-index: 100;}

  ul#gnbb > li a::after {content: ""; display: block; height: 5px; width: 0; background: none#FF3901; transition: all ease-in-out .2s;
  position: relative; top: -31px;}
  ul#gnbb > li:hover > a::after {width: 100%;}


  ul#gnbb > li > a {display: inline-block; position: relative; transition: color 0.3s; font-size: 50px;}
  ul#gnbb > li > a {border-bottom: 2px solid rgb(0 0 0 / 0%);}

  ul#gnbb > li > ul {display: none !important;}

  #footer #copyright {display: none;}
}
