@charset 'utf-8';

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 300;
    src: local('※'),
        url('../font/NotoSansKR-Light.woff2') format('woff2'),
        url('../font/NotoSansKR-Light.woff') format('woff'),
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('../font/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/NotoSansKR-Regular.woff') format('woff'),
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src: local('※'),
        url('../font/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff'),
}

/* noto sans 
@font-face {
    font-family: 'NS';
    font-display: swap;
    src: local('Noto Sans CJK KR'), local('NotoSansCJKkr-Regular'),
        url('../font/NotoSans-Regular.woff2') format('woff2'),
        url('../font/NotoSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NS';
    font-display: swap;
    src: local('Noto Sans CJK KR'), local('NotoSansCJKkr-Medium'),
        url('../font/NotoSans-Medium.woff2') format('woff2'),
        url('../font/NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

*/
/* neue haas unica pro */
@font-face {
    font-family: 'NHU';
    font-display: swap;
    src: local('Neue Haas Unica Pro'), local('NeueHaasUnicaPro-Regular'),
        url('../font/Neue\ Haas\ Unica\ Pro.woff2') format('woff2'),
        url('../font/Neue\ Haas\ Unica\ Pro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*@font-face {
    font-family: 'NHU';
    font-display: swap;
    src: local('Neue Haas Unica Pro'), local('NeueHaasUnicaPro-Medium'),
      url('../font/nhu-medium.woff2') format('woff2'),
      url('../font/nhu-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  */